@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* Default colors */
:root {
  --lime-yellow: #E4EA00;
  --electric-blue: #0037EB;
  --graphite: #212121;
  --smoke: #F2F2F2;
  --light-grey: #CBCBCB;
  --dark-grey: #7F7F7F;
  --blue: #0037EB;
}


/* globals.css fonts*/

:root {
  --font-apfel-grotezk-mittel: "ApfelGrotezk-Mittel", sans-serif;
  --font-apfel-grotezk-regular: "ApfelGrotezk-Regular", sans-serif;
  --font-qimano: "Qimano-aYxdE", sans-serif;
}

.font-apfel-grotezk-regular {
  font-family: var(--font-apfel-grotezk-regular);

}

.font-apfel-grotezk-mittel {
  font-family: var(--font-apfel-grotezk-mittel);
}

.font-qimano {
  font-family: var(--font-qimano);
}


/* dark mode  */
@media (prefers-color-scheme: dark) {
  :root {
    --lime-yellow: #E4EA00;
    --electric-blue: #0037EB;
    --graphite: #212121;
    --smoke: #F2F2F2;
    --light-grey: #CBCBCB;
    --dark-grey: #7F7F7F;
    --blue: #0037EB;
  }
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: white;
  color: var(--graphite);
  /* font-family: var(--font-qimano); */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
